@use "./pages/_landing.scss";
@use "./pages/_welcome.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

input {
  all: unset;
}

html {
  min-height: 100%;
}

body {
  height: 100vh;
  margin: 0px;
  cursor: url("/src/assets/img/standard-dagger.png"), auto;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/img/background.png");
  background-size: cover;
}
