@use "./pages/_landing.scss";
@use "./pages/_welcome.scss";
@use "./pages/_rulebook.scss";
@use "./pages/_settings.scss";
@use "./pages/_single-choice.scss";
@use "./pages/_multiple-choice.scss";
@use "./pages/_true-false-choice.scss";
@use "./pages/_summary.scss";
@use "./pages/_finish.scss";

body {
  height: 100vh;
  margin: 0px;
  cursor: url("/src/assets/img/standard-dagger.png"), auto;
}

:root {
  font-family: "MedievalSharp", cursive;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  text-shadow: 0.15px 0.15px 0px #000000;
  user-select: none;
}

label {
  cursor: inherit;
}

input {
  all: unset;
}

html {
  min-height: 100%;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    display: none;
  }

  .mobile-message-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/src/assets/img/background.png");

    &__message {
      padding: 10%;
      font-family: "MedievalSharp", cursive;
      font-size: 30px;
      text-align: center;
      line-height: 150%;
      background-color: rgba(180, 174, 136, 0.541);
    }
  }
}

@media only screen and (min-width: 1025px) {
  .mobile-message-wrapper {
    display: none;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/src/assets/img/background.png");
    background-size: cover;
  }
}
