@use "./pages/_landing.scss";
@use "./pages/_welcome.scss";
@use "./pages/_rulebook.scss";
@use "./pages/_settings.scss";
@use "./pages/_question-single-choice.scss";
@use "./pages/_question-multiple-choice.scss";

@media only screen and (max-width: 1024px) {
  *,
  *:before,
  *:after {
    display: none;
  }
}

label {
  cursor: inherit;
}

:root {
  font-family: "MedievalSharp", cursive;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  text-shadow: 0.15px 0.15px 0px #000000;
  user-select: none;
}

input {
  all: unset;
}

html {
  min-height: 100%;
}

body {
  height: 100vh;
  margin: 0px;
  cursor: url("/src/assets/img/standard-dagger.png"), auto;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/src/assets/img/background.png");
  background-size: cover;
}
