.closed-book {
  width: 601px;
  height: 90%;

  background-image: url("../assets/img/book-cover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cursor-hover {
  cursor: url("../assets/img/hover-dagger.png"), auto;
}
