.right-page {
  &__settings-element {
    width: 100%;
    padding-bottom: 40px;
  }

  &__settings-text {
    padding-left: 80px;
  }

  &__settings-element-reversed {
    display: flex;
    justify-content: space-around;
  }

  &__time-limit-text {
    align-self: center;
  }
}

.input {
  width: 48px;
  height: 48px;
  text-align: center;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid #000000;
}
