.opened-book {
  width: 1000px;
  height: 640px;
  position: relative;
  background-image: url("/src/assets/img/opened-book.png");
  background-size: contain;
  background-repeat: no-repeat;

  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.book-content {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 22px 22px 34px 28px;
}

.left-page {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-right: 4px;

  &__top {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -10px;
  }

  &__img {
    width: 90%;
    height: 90%;
    align-self: center;
    background-image: url("/src/assets/img/welcome-page-image.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2%;
  }
}

.right-page {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: -4px;
  padding: 0px 45px 0px 50px;

  &__top {
    height: 20%;
    font-size: 40px;
    line-height: 47px;
    padding-top: 38px;
  }

  &__middle {
    display: flex;
    height: 58%;
    font-size: 26px;
    line-height: 34px;
    margin-top: 40px;
  }

  &__bottom {
    height: 22%;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1230px) {
  .opened-book {
    width: 1200px;
    height: 760px;
  }

  .book-content {
    padding: 27px 29px 34px 33px;
  }

  .right-page {
    &__top {
      font-size: 50px;
      line-height: 55px;
      padding-top: 50px;
    }

    &__middle {
      font-size: 33px;
      line-height: 43px;
      margin-top: 50px;
    }
  }
}

@media screen and (min-width: 1350px) {
  .opened-book {
    width: 1315px;
    height: 834px;
  }

  .book-content {
    padding: 30px 35px 37px 37px;
  }
  .right-page {
    padding-right: 60px;

    &__top {
      padding-top: 58px;
    }
  }
}
